<hr width="100%">
<h3>Översättningen till svenska</h3>
<p>Denna sida är översatt till svenska av SM5OUU Linus, antingen från
{% if page.originalhref %}<a href="{{ page.originalhref }}">{% endif
%}den engelska versionen{% if page.originalhref %}</a>{% endif %}
eller den tyska som fanns tidigare hos AGCW-DL {% if page.translated
%} som de såg ut <nobr>{{ page.translated }}</nobr>{% endif %}.  För
att underlätta underhåll och jämförelser har sidans filnamn behållits
så när som på ett "se-"-prefix och layouten har bevarats i så stor
utsträckning som är möjligt.
</p>
<p>Kommentarer på sidans innehåll i den mån översättningen återspeglar
  originalet skickas lämpligen direkt till den ansvarige för
  sidorna <a href="write.pdf">se detta dokument</a> eller lyssna på
  telegrafin <a href="./webmaster.mp3">här</a>.
</p>

<p>
Kommentarer på översättningen skickas till översättaren SM5OUU på
<a href="./se-translator.mp3">den här email-adressen</a>.
</p>
