---
layout: default
---
<center> <hr width="100%"> </center>
<p><img src="imgsclub/{{ page.clubicon }}" alt="" align="left"></p>
<p align="left"/>
{% if page.cluburl and page.clubacronym %}
<a href="{{ page.cluburl }}"><b>{{ page.clubacronym }}:</b></a>
{% endif %}
{% if page.clubformattedname %}
{{ page.clubformattedname }}
{% else %}
<b> {{ page.title }} </b>
{% endif %}
<p>
{{ content }}
<br clear="left">
<p>
<center> <hr width="100%"> </center>
<a href="se-eucw.html"> Tillbaka </a> till listan över klubbar <br>
